In [1]:
import pathlib
import pandas as pd
import numpy
import statsmodels.api as sm

In [2]:
data_folder = pathlib.Path.cwd().parent/"Data"
data = pd.read_csv(data_folder/"Startups.csv")
data

,R&D Expenditure,Administration Expenditure,Marketing Expenditure,State,Profit
0,165349.20,136897.80,471784.10,Florida,192261.83
1,162597.70,151377.59,443898.53,Florida,191792.06
2,153441.51,101145.55,407934.54,Florida,191050.39
3,144372.41,118671.85,383199.62,Florida,182901.99
4,142107.34,91391.77,366168.42,Florida,166187.94
5,131876.90,99814.71,362861.36,Florida,156991.12
6,134615.46,147198.87,127716.82,Florida,156122.51
7,130298.13,145530.06,323876.68,Florida,155752.60
8,120542.52,148718.95,311613.29,Florida,152211.77
9,123334.88,108679.17,304981.62,Florida,149759.96
10,101913.08,110594.11,229160.95,Florida,146121.95
11,100671.96,91790.61,249744.55,Florida,144259.40
12,93863.75,127320.38,249839.44,Florida,141585.52
13,91992.39,135495.07,252664.93,Florida,134307.35
14,119943.24,156547.42,256512.92,Florida,132602.65
15,114523.61,122616.84,261776.23,Florida,129917.04
16,78013.11,121597.55,264346.06,Florida,126992.93
17,94657.16,145077.58,282574.31,Florida,125370.37
18,91749.16,114175.79,294919.57,Florida,124266.90
19,86419.70,153514.11,0.00,Florida,122776.86
20,76253.86,113867.30,298664.47,Florida,118474.03
21,78389.47,153773.43,299737.29,Florida,111313.02
22,73994.56,122782.75,303319.26,Florida,110352.25
23,67532.53,105751.03,304768.73,Florida,108733.99
24,77044.01,99281.34,140574.81,Florida,108552.04
25,64664.71,139553.16,137962.62,Florida,107404.34
26,75328.87,144135.98,134050.07,Florida,105733.54
27,72107.60,127864.55,353183.81,Florida,105008.31
28,66051.52,182645.56,118148.20,Florida,103282.38
29,65605.48,153032.06,107138.38,Florida,101004.64
30,61994.48,115641.28,91131.24,Florida,99937.59
31,61136.38,152701.92,88218.23,Florida,97483.56
32,63408.86,129219.61,46085.25,Florida,97427.84
33,55493.95,103057.49,214634.81,Florida,96778.92
34,46426.07,157693.92,210797.67,Florida,96712.80
35,46014.02,85047.44,205517.64,Florida,96479.51
36,28663.76,127056.21,201126.82,Florida,90708.19
37,44069.95,51283.14,197029.42,Florida,89949.14
38,20229.59,65947.93,185265.10,Florida,81229.06
39,38558.51,82982.09,174999.30,Florida,81005.76
40,28754.33,118546.05,172795.67,Florida,78239.91
41,27892.92,84710.77,164470.71,Florida,77798.83
42,23640.93,96189.63,148001.11,Florida,71498.49
43,15505.73,127382.30,35534.17,Florida,69758.98
44,22177.74,154806.14,28334.72,Florida,65200.33
45,1000.23,124153.04,1903.93,Florida,64926.08
46,1315.46,115816.21,297114.46,Florida,49490.75
47,0.00,135426.92,0.00,Florida,42559.73
48,542.05,51743.15,0.00,Florida,35673.41
49,0.00,116983.80,45173.06,Florida,14681.40

In [4]:
data.describe(include = "all")

,R&D Expenditure,Administration Expenditure,Marketing Expenditure,State,Profit
count,50.000000,50.000000,50.000000,50,50.000000
unique,NaN,NaN,NaN,1,NaN
top,NaN,NaN,NaN,Florida,NaN
freq,NaN,NaN,NaN,50,NaN
mean,73721.615600,121344.639600,211025.097800,NaN,112012.639200
std,45902.256482,28017.802755,122290.310726,NaN,40306.180338
min,0.000000,51283.140000,0.000000,NaN,14681.400000
25%,39936.370000,103730.875000,129300.132500,NaN,90138.902500
50%,73051.080000,122699.795000,212716.240000,NaN,107978.190000
75%,101602.800000,144842.180000,299469.085000,NaN,139765.977500
max,165349.200000,182645.560000,471784.100000,NaN,192261.830000

In [5]:
y = data["Profit"]
x1 = data["Marketing Expenditure"]

In [7]:
x = sm.add_constant(x1)
results = sm.OLS(y, x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.559
Model:                            OLS   Adj. R-squared:                  0.550
Method:                 Least Squares   F-statistic:                     60.88
Date:                Sun, 04 Dec 2022   Prob (F-statistic):           4.38e-10
Time:                        16:40:30   Log-Likelihood:                -580.18
No. Observations:                  50   AIC:                             1164.
Df Residuals:                      48   BIC:                             1168.
Df Model:                           1
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                      6e+04   7684.530      7.808      0.000    4.46e+04    7.55e+04
Marketing Expenditure     0.2465      0.032      7.803      0.000       0.183       0.310
==============================================================================
Omnibus:                        4.420   Durbin-Watson:                   1.178
Prob(Omnibus):                  0.110   Jarque-Bera (JB):                3.882
Skew:                          -0.336   Prob(JB):                        0.144
Kurtosis:                       4.188   Cond. No.                     4.89e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.89e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [10]:
new_data = pd.DataFrame({'const': 1, 'Marketing Expenditure': 325000}, index = [0])
new_data

   const  Marketing Expenditure
0      1                 325000

In [14]:
pred = results.predict(new_data)
pred

0    140102.809762
dtype: float64

In [16]:
y_2 = data["Profit"]
x1_2 = data[["R&D Expenditure", "Administration Expenditure"]]

In [17]:
x_2 = sm.add_constant(x1_2)
results = sm.OLS(y_2, x_2).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.948
Model:                            OLS   Adj. R-squared:                  0.946
Method:                 Least Squares   F-statistic:                     426.8
Date:                Sun, 04 Dec 2022   Prob (F-statistic):           7.29e-31
Time:                        16:51:15   Log-Likelihood:                -526.83
No. Observations:                  50   AIC:                             1060.
Df Residuals:                      47   BIC:                             1065.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                       5.489e+04   6016.718      9.122      0.000    4.28e+04     6.7e+04
R&D Expenditure                0.8621      0.030     28.589      0.000       0.801       0.923
Administration Expenditure    -0.0530      0.049     -1.073      0.289      -0.152       0.046
==============================================================================
Omnibus:                       14.678   Durbin-Watson:                   1.189
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               20.449
Skew:                          -0.961   Prob(JB):                     3.63e-05
Kurtosis:                       5.474   Cond. No.                     6.65e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.65e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [18]:
y_3 = data["Profit"]
x1_3 = data["R&D Expenditure"]

In [19]:
x_3 = sm.add_constant(x1_3)
results = sm.OLS(y_3, x_3).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.947
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     849.8
Date:                Sun, 04 Dec 2022   Prob (F-statistic):           3.50e-32
Time:                        16:53:45   Log-Likelihood:                -527.44
No. Observations:                  50   AIC:                             1059.
Df Residuals:                      48   BIC:                             1063.
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            4.903e+04   2537.897     19.320      0.000    4.39e+04    5.41e+04
R&D Expenditure     0.8543      0.029     29.151      0.000       0.795       0.913
==============================================================================
Omnibus:                       13.727   Durbin-Watson:                   1.116
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               18.536
Skew:                          -0.911   Prob(JB):                     9.44e-05
Kurtosis:                       5.361   Cond. No.                     1.65e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.65e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [20]:
new_data2 = pd.DataFrame({'const': 1, 'R&D Expenditure': 125000}, index = [0])
new_data2

   const  R&D Expenditure
0      1           125000

In [21]:
pred2 = results.predict(new_data2)
pred2

0    155819.320509
dtype: float64